/* body {
    background-color: burlywood;
} */
 /* Resetear estilos */
  *{
    margin: 0;
    padding: 0;
  }

header{
    background-color: #007acc;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    color: blue;
}

h2 {
    color: green;
}

h3 {
    color: orange;
}
/* Estilos footer*/
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom:0;
}
.contenido{
    padding: 40px;
    text-align: center;
}
.formulario{
    max-width: 500px;
    margin: 30px auto;
    background-color: rgb(156, 75, 144);
    padding: 20px;
    border-radius: 8px;
}